#name{
background-color: #4aaaa5;
width: 200px;
color: white;
float: left;
padding: 10px;
margin: -10px 0px 0px 150px;
z-index: 2;
}

.about-me::after{
content: "";
clear: both;
display: table;
}

.about-me{
    border: .5px solid #cccccc;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    margin: 25px 25px 25px 25px;

}

* {
    box-sizing: border-box;
}

strong{
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.button{
    text-align: center;
}

.html-links{
    float: right;
    position: relative;
    z-index: 2;
    }

header{
    border-bottom: 2px solid #dddddd;
    position: relative;
    height: 26.5px;
    z-index: 1;
}

footer{
    background-color: #666666;
    text-align: center;
    font-size: 8px;
    padding: 15px;
    border-top: 2px solid #4aaaa5;
    color: #ffffff;
    height: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

h2{
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    padding: -10px 0px 10px 15px;
    font-size: 24px;
}
#cat-pic{
float: left;
position: relative;
}

body{
    background-image: url("assets/images/ripples.png");
}