#name{
    background-color: #4aaaa5;
    width: 325px;
    color: white;
    float: left;
    padding: 20px;
    margin: 0px 0px 0px 195px;
    z-index: 2;
    position: relative;
    height: 88px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.about-me{
    border: .5px solid #dddddd;
    padding: 15px;
    background-color: #ffffff;
    margin: 0 auto;
    width: 960px;
    line-height: 2.5;
    position: sticky;
}


strong{
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dog{
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    color: #666666;
}

.span{
    color: #cccccc;
}

.link-box{
    position: relative;
    left: 24%;
    top: 37%;
    display: inline-block;
}

.html-links{
    z-index: 2;
    font-size: 20px;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #777777;
}

header{
    border-bottom: 3px solid #cccccc;
    position: relative;
    height: 90px;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    display: inline-block;
    min-width: 1250px;
}

footer{
    background-color: #666666;
    text-align: center;
    font-size: 12px;
    padding: 25px 15px 0px 15px;
    border-top: 5px solid #4aaaa5;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    height: 75px;
    min-width: 1250px;
    position: relative;
    bottom: 0%;

}

h2{
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
    font-size: 24px;
}

#me-pic{
    float: left;
    position: relative;
    margin: 10px;
    transform: rotate(90deg);
}

body{
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

.pics{
    position: relative;
}

.body-para{
    color: #777777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.contactTable, .portTable{
    border: .5px solid #dddddd;
    width: 960px;
    height: 150vh;
    background-color: #ffffff;
    margin: 0 auto;
    position: sticky;
    padding: 15px;
    line-height: 2.5;
}

.contactTable{
    height: 120vh;
}

.cat{
    margin: 20px;
    position: relative;
    z-index: 1;
}

#banner2, #banner4{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    width: 250px;
    text-align: center; 
    top: 60%;
    right: 39.25%;
    display: inline-flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#banner3, #banner1{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    width: 250px;
    text-align: center; 
    top: 60%;
    left: 2.2%;
    display: inline-flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#banner5{
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    width: 250px;
    text-align: center; 
    top: 60%;
    left: 2.2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input[type=text],
select, textarea{
    width: 100%;
    padding: 8px;
    border: .5px solid #cccccc;
    border-radius: 4px;
}

label{
    font-size: 20px;
    color: #777777;
}

input[type=submit]{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #4aaaa5;
    border-radius: 4px;
    width: 10%;
}
